/* // ******************************IMPORTS************************** */
@import './header.scss';
@import './keyboard';
@import './user_input';
@import './modal.scss';

/* // ******************************VARIABLES************************** */
$main-color: #0d1b2a;
$font-color: #e0e1dd;
$btn-color: #1b263b;
$correct-color: rgb(154 255 115 / 66%);
$half-correct-color: rgb(184 161 50 / 66%);
$wrong-color: rgb(249 144 144 / 66%);



* {
    margin: 0;
    padding: 0;
    border: 0;
  }

#wordle-header {
    @include header
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: $main-color;
}
    

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 1vh;
}

.user-input-sec {
    @include input-sec-def
}
.keyboard {
    @include keyboard-def
}



.navbar {
    padding-left:  1rem;
    padding-right:  1rem;
    width:  75vw;
    
    .info {
        justify-self: flex-end;
    }
}


.modal-content {
    @include modal-def
}


    
.masthead {
    background: url('2491665.jpg');

}
.intro-text {
    width: 696px;
    height: fit-content;
    padding: 100px 0px 100px;
}

