// ******************************IMPORTS**************************
@import 'header';
@import 'keyboard';
@import 'user_input';

// ******************************VARIABLES**************************
$main-color: #0d1b2a;
$font-color: #e0e1dd;
$btn-color: #1b263b;
$correct-color: rgb(154 255 115 / 66%);
$half-correct-color: rgb(184 161 50 / 66%);
$wrong-color: rgb(249 144 144 / 66%);

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

#main-header {
    @include header
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: $main-color;
}
    

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 2vh;
}

.user-input-sec {
    @include input-sec-def
}
.keyboard {
    @include keyboard-def
}


