// ******************************MINIXS**************************
@mixin ur-input-def {
    width: 3rem;
    height: 8vh;
    border: solid #2e3e5b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: $font-color;

}

@mixin rows-def {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.1vw;

}

@mixin input-sec-def {
    display: grid;
    gap: 0.1vh;
    
    // .ur-input {
    //     @include ur-input-def()
    // }

    .input-row {
        @include rows-def()
    }
}