// ******************************MINIXS**************************
@mixin ur-input-def {
    width: 3rem;
    height: 8vh;
    border: solid #2e3e5b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: $font-color;
    background-color: #0d1b2a;
    caret-color: transparent;
    text-align: center;
    text-transform:uppercase;
    cursor: default;
    font-family: 'Josefin Slab', serif;

    &:focus { 
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }

}

@mixin rows-def {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.1vw;

}

@mixin input-sec-def {
    display: grid;
    gap: 0.1vh;
    
    .ur-input {
        @include ur-input-def()
    }

    .input-row {
        @include rows-def()
    }
}